<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="apiContainer">
        <extension type="Interception"/>
        <register type="MyWebApiAOP.Unity.Interface.ITestAop,MyWebApiAOP" mapTo="MyWebApiAOP.Unity.Service.TestAopService,MyWebApiAOP">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="MyWebApiAOP.Unity.AOP.LogBeforeBehavior,MyWebApiAOP"/>
          <interceptionBehavior type="MyWebApiAOP.Unity.AOP.LogAfterBehavior,MyWebApiAOP"/>
        </register>
      </container>
    </containers>
  </unity>
</configuration>