<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <container name="mvcContainer">
        <register type="SOA.WebApi.Unity.Interface.DbContext,SOA.WebApi" mapTo="SOA.WebApi.Unity.Service.CustomDbContext, SOA.WebApi"/>
        <register type="SOA.WebApi.Unity.Interface.IUserService,SOA.WebApi" mapTo="SOA.WebApi.Unity.Service.UserService, SOA.WebApi">
          <interceptor type="InterfaceInterceptor"/>
          <interceptionBehavior type="SOA.WebApi.Unity.AOP.LogBeforeBehavior, SOA.WebApi"/>
          <interceptionBehavior type="SOA.WebApi.Unity.AOP.LogAfterBehavior, SOA.WebApi"/>
        </register>
      </container> 
    </containers>
  </unity>
</configuration>